body {
     background-color: cyan;
}

#a {
    color: white;
}

#b {
    color: brown;
}

#c {
    color: Purple;
}

#d {
    color: black;
}

#e {
    color: yellow;
}

#f {
    color: blue;
}

#g {
    color: green;
}

#h {
    color: pink;
}

#i {
    color: gray;
}

#j {
    color: red;
}

li {
    font-weight: bold;
    font-size: 30px;
    display: inline;
}

h1 {
    color: black;
}

p {
    font-style: italic;
    font-size: 20px;
}

img {
    height: 200px;
    width: 200px;
    float: right;
}

#gw {
    margin: 50px;
}

#cat {
          margin: 100px;
    
}

.col-xs-1 {
    background-color:Orange;
    border: solid;
}

.col-xs-2 {
    background-color:yellow  ;
    border: solid;
}

.col-xs-3 {
    background-color:orangered ;
    border: solid;
}

.col-xs-4 {
    background-color:cyan ;
    border: solid;
}

.col-xs-5 {
    background-color:blue;
    border: solid;
}

.col-xs-6 {
    background-color: red ;
    border: solid;
}

.col-xs-7 {
    background-color: brown;
    border: solid;
}

.col-xs-8 {
    background-color:LightSeaGreen ;
    border: solid;
}

.col-xs-9 {
    background-color:black;
    border: solid;
}

.col-xs-10 {
    background-color:brown;
    border: solid;
}

.col-xs-11 {
    background-color:white;
    border: solid;
}

.col-xs-12 {
    background-color:magenta;
    border: solid;
}












